html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: Merriweather;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to left, #e2a866, #eeb034);
}
h1 {
  position: relative;
  bottom: 30px;
  color: black;
  font-size: 4rem;
  font-weight: 900;
}
.login-signup button {
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  background: #dd6617;
  border: none;
  border-radius: 50%;
  box-shadow: 10px 10px 33px #403a3e;
  outline: none;
}
.login-signup button:before,
.login-signup button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 147px;
  height: 147px;
  border-radius: 50%;
  border: 2px solid rgba(64, 58, 62, 0.7);
  filter: blur(0);
  transform-origin: 50%;
  z-index: -1;
}
.login-signup button:hover:before,
.login-signup button:hover:after {
  border-color: transparent;
  filter: blur(2px);
  transform: scale(4);
  transition: 1000ms transform ease, 2100ms blur ease, 900ms border-color ease;
}
.login-signup button:hover:after {
  transition-delay: 100ms;
}
.login-signup {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.shift-left {
  -webkit-animation-name: cssAnimation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  }
  to {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(-1000px);
  }
}
.shift-right {
  -webkit-animation-name: cssAnimation2;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes cssAnimation2 {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
  }
  to {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(1000px);
  }
}

.login{
    display: flex;
    width: 20%;
    background-color: #f8d1a5;
    padding: 20px 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.signup{
    display: flex;
    width: 20%;
    background-color: #f8d1a5;
    padding: 20px 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.invis{
    display:none;
}
.login button,.signup button{
    margin: 30px 0px 20px 0px;
    height:30px;
}
.login input,.signup input{
    height:40px;
    font-size: 15px;
}